<!-- Header -->
<%- include('include/_header')%>
<!-- /Header -->

<!-- Main -->

<!-- Main -->

<main class="main">
    <div class="box-container">
        <div class="box-nav">
            <div class="product new">
                <a href="/productdetails" class="product-brand"><i class="fas fa-angle-double-left"></i>All Product</a>
            </div>
        </div>
        <div class="form-div">
        <div class="form-title">
           <h3 class="form-title text">New Product</h3>
        </div> 

<!-- form ejs -->
<%- include('include/_form')%>
<!-- /form ejs -->
        </div>
    </div>
</main>

<!-- /Main -->

<!-- /Main -->

<!-- Footer -->
<%- include('include/_footer')%>
<!-- /Footer -->