<!-- Header -->
<%- include('include/_header')%>
<!-- /Header -->

<!-- Main -->

<main class="main">
    <div class="container">
        <div class="item">
            <a class="nav-brand" href="/productdetails">ProductDetails</a>
            <a class="nav-brand" href="/purchaserecord">PurchaseDetails</a>
            <a class="nav-brand" href="/sales">Sales</a>
            <a class="nav-brand" href="/stock">Stock</a>
            <a class="nav-brand" href="/report">Report</a>
        </div>
    </div>
</main>

<!-- /Main -->

<!-- Footer -->
<%- include('include/_footer')%>
<!-- /Footer -->