<!-- Header -->
<%- include('include/_header')%>
<!-- /Header -->

<!-- Main -->

<main class="main">
    <div class="box-container">
        <div class="box-nav">
            <div class="filter">
                <a class="product-brand" href="/purchaserecord" ><i class="fas fa-angle-double-left"></i>Purchase record</a>
            </div>
        </div>
        <div class="form-div">
        <div class="form-title">
            <h3 class="form-title text">Product Purchase Form</h3>
        </div>

<!-- Form handle -->

<%- include('include/_purchaseform')%>

<!-- /Form handle -->
        </div>
    </div>
</main>

<!-- /Main -->

<!-- Footer -->
<%- include('include/_footer')%>
<!-- /Footer -->