<!-- Header -->
<%- include('include/_header')%>
<!-- /Header -->


<!-- Main -->

    <main class="main">
        <div class="product new">
            <a href="/" class="product-brand">Home <i class="fas fa-home"></i></a>
        </div>
        <div class="container">
            <div class="item">
                <a class="nav-brand" href="/salesreport">Sales Report</a>
                <a class="nav-brand" href="/purchasereport">Purchase Report</a>
                <a class="nav-brand" href="/datesalesreport">Date sales</a>
                <a class="nav-brand" href="/datepurchasereport">Date purchase</a>
            </div>
        </div>
    </main>

<!-- /Main -->

<!-- Footer -->
<%- include('include/_footer')%>
<!-- /Footer -->