<!-- Header -->
<%- include('include/_header')%>
<!-- /Header -->

<!-- Main -->

<main class="main">
    <div class="product new">
        
        <a href="/" class="product-brand">Home <i class="fas fa-home"></i></a>
        <a href="/stockreport" class="product-brand">Report <i class="fas fa-print"></i></a>

    </div>
    <div class="form-title">
        <h3 class="form-title text">Stock</h3>
     </div> 

    
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>id</th>
                    <th>Productname</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>

                <%- include('include/_stockdetails')%>
            </tbody>
        </table>
        <!-- <div class="new_product">
        <div class="from-group">
            <button type="submit" class="btn text-dark update">Submit</button>
        </div>
    </div> -->
    

</main>

<!-- /Main -->

<!-- Footer -->
<%- include('include/_footer')%>
<!-- /Footer -->