<!-- Form handle -->

<form action="/api/product" id="add_product" method="post">

    <div class="new_product">
        <div class="form-group">
            <label for="productid" class="text-light">Id</label>
            <input type="text" name="productid" placeholder="001">
        </div>
        <div class="form-group">
            <label for="productname" class="text-light">Productname</label>
            <input type="text" name="productname" placeholder="Candy">
        </div>
        <div class="from-group">
            <button type="submit" class="btn text-dark update">Submit</button>
        </div>
    </div>
    </form>

<!-- /Form handle -->