<form action="/api/purchase" id="add_purchase" method="post">

    <div class="new_product">
        <div class="form-group">
            <label for="productid" class="text-light">Id</label>
            <input type="text" name="productid" placeholder="001">
        </div>
        <div class="form-group">
            <label for="productname" class="text-light">Productname</label>
            <input type="text" name="productname" placeholder="Candy">
        </div>
        <div class="form-group">
            <label for="vendorname" class="text-light">Vendor name</label>
            <input type="text" name="vendorname" placeholder="Agency">
        </div>
        <div class="form-group">
            <label for="vendoraddress" class="text-light">Vendor address</label>
            <input type="text" name="vendoraddress" placeholder="Chennai">
        </div>
        <div class="form-group">
            <label for="quantity" class="text-light">Quantity</label>
            <input type="text" name="quantity" placeholder="2">
        </div>
        <div class="form-group">
            <label for="rate" class="text-light">Rate <i class="fas fa-rupee-sign"></i></label>
            <input type="text" name="rate" placeholder="100">
        </div>
        <div class="from-group">
            <button type="submit" class="btn text-dark update">Submit</button>
        </div>
    </div>
    </form>